#main_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 40vh;
    border: 2px solid yellow;
    background-color: rgb(255, 255, 203);
}
#margin{
    margin-top: -10px;
}